.loaded {
    background-color: green;
}

.btn {
    margin: 3px;
}

.statistics-panel {
    width: 30%;
    background-color: #fb776c;
}

.sub-statistics-panel {
    background-color: #fb776c;
}

th, ::ng-deep td {
    font-weight: normal;
    padding: 2px 15px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
}

.header-item {
    margin: 5px;
}

.mat-row:nth-child(even){
    background-color: #e4f0ec;
}

.mat-row:nth-child(odd){
    background-color:#ffffff;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;;
}

::ng-deep .mat-form-field-label{
    color:white !important;
}