<button (click)="exportToExcel()">Export</button>
<button (click)="clearAll()">Clear</button>
<button [ngClass]="{'loaded': statisticsLoaded}" (click)="getMaxMinData()">Load Statistics</button>
<button (click)="todaysPlayers()">Load Rosters</button>
<button (click)="orderPlayers()">Order Players</button>

<h2>Top Player Stats</h2>
<div>Goals: {{ topPlayerStats.goals }}</div>
<div>Games: {{ topPlayerStats.games }}</div>
<div>powerPlayGoals: {{ topPlayerStats.powerPlayGoals }}</div>
<div>goalsPerGame: {{ topPlayerStats.goalsPerGame }}</div>

<h2>Worst Player Stats</h2>
<div>Goals: {{ worstPlayerStats.goals }}</div>
<div>Games: {{ worstPlayerStats.games }}</div>
<div>powerPlayGoals: {{ worstPlayerStats.powerPlayGoals }}</div>
<div>goalsPerGame: {{ worstPlayerStats.goalsPerGame }}</div>

<h2>Top Team Stats</h2>
<div>penaltyKillOpportunities: {{ topTeamStats.penaltyKillOpportunities }}</div>
<div>penaltyKillPercentage: {{ topTeamStats.penaltyKillPercentage }}</div>
<div>goalsAgainstPerGame: {{ topTeamStats.goalsAgainstPerGame }}</div>

<h2>Worst Team Stats</h2>
<div>penaltyKillOpportunities: {{ worstTeamStats.penaltyKillOpportunities }}</div>
<div>penaltyKillPercentage: {{ worstTeamStats.penaltyKillPercentage }}</div>
<div>goalsAgainstPerGame: {{ worstTeamStats.goalsAgainstPerGame }}</div>

<table id="prediction-data">
  <tr>
    <th>Overall Ranking</th>
    <th>Player</th>
    <th>Score</th>
    <th>PlayerId</th>
  </tr>
  <tr *ngFor="let player of orderedPlayers; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ player.name }}</td>
    <td>{{ player.goalLikelihoodRank }}</td>
    <td>{{ player.id }}</td>
  </tr>
</table>