.loaded {
    background-color: green;
}

.btn {
    margin: 3px;
}

.statistics-panel {
    width: 30%;
    background-color: #fb776c;
}

.sub-statistics-panel {
    background-color: #fb776c;
}

th {
    font-weight: normal;
}