.loaded {
    background-color: green;
}

.btn {
    margin: 3px;
}

.statistics-panel {
    width: 30%;
    background-color: #fb776c;
}

.sub-statistics-panel {
    background-color: #fb776c;
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-item {
    margin: 5px;
}

.alt-row {
    background-color: #e4f0ec;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;;
}

::ng-deep .mat-form-field-label{
    color:white !important;
}

.detail-row {
    min-height: 0;
    background-color: #91a6a5;
    border-radius: 0px 0px 2px 2px;
}

.element-row:not(.expanded-row):hover {
    background: #777;
}
  
.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row {
    border-bottom-width: 0;
}

// mobile
.expanded-element-detail {
    overflow: hidden;
    width: 100%;
}

.details-table {
    width: 100%;
    padding: 4px;
}

@media (min-width:560px)  { 
    .expanded-element-detail {
        overflow: hidden;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .details-table {
        width: 50%;
        padding: 4px;
    }
}

.table-padding {
    padding-bottom: 53px;
}

.page-body {
    max-height: 90%;
}