/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Century Gothic", sans-serif; 
    background-color: #162b32;
    color:white;
}

mat-cell, mat-footer-cell, mat-header-cell {
    padding: 0 0.25em;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 24px;
    padding-right: 0.25em;
}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 24px;
    padding-left: 0.25em;
}
